
<html>

    <head>

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>

        <div>

            <div>

                <div class="show_user_details">

                </div>


                <div class="default-cotnainer">

                    <div id="buttons_menu">



                    </div>

                    <div id="table_with_lists">

                        {% block table_show %}

                        {% endblock %}

                    </div>



                </div>


            </div>


        </div>




    </body>



</html>